In [1]:
import pandas as pd

In [2]:
df = pd.read_json (r'products.json')

In [3]:
df

            Product  Price
0  Desktop Computer    700
1            Tablet    250
2           Printer    100
3            Laptop   1200

In [4]:
df.to_csv (r'Products.csv', index = None)

In [1]:
# dd = pd.read_json(r'waterSource.json')